<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>     
      <group groupName="ExperienceProfileContactDataSourceQueries">
        <pipelines>
          <visitedanimals-query>
            <processor type="MikeRobbins.SUGCON.Beacons.Website.xDBWebApi.Xdb.Query.GetVisitedAnimalData, MikeRobbins.SUGCON.Beacons.Website.xDBWebApi" />
          </visitedanimals-query>
        </pipelines>
      </group>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <visitedanimals>
            <processor type="MikeRobbins.SUGCON.Beacons.Website.xDBWebApi.Xdb.Query.ConstructVisitedAnimalsDataTable, MikeRobbins.SUGCON.Beacons.Website.xDBWebApi" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visitedanimals-query</param>
            </processor>
            <processor type="MikeRobbins.SUGCON.Beacons.Website.xDBWebApi.Xdb.Query.PopulateWithVisitedAnimalsData, MikeRobbins.SUGCON.Beacons.Website.xDBWebApi" />
          </visitedanimals>
        </pipelines>
      </group>
    </pipelines>

    <model>
      <elements>
        <element interface="MikeRobbins.SUGCON.Beacons.Website.xDBWebApi.Xdb.Elements.IVisitedAnimalElement, MikeRobbins.SUGCON.Beacons.Website.xDBWebApi" implementation="MikeRobbins.SUGCON.Beacons.Website.xDBWebApi.Xdb.Elements.VisitedAnimalElement,MikeRobbins.SUGCON.Beacons.Website.xDBWebApi" />
        <element interface="MikeRobbins.SUGCON.Beacons.Website.xDBWebApi.Xdb.Facets.IZooVisitFacet, MikeRobbins.SUGCON.Beacons.Website.xDBWebApi" implementation="MikeRobbins.SUGCON.Beacons.Website.xDBWebApi.Xdb.Facets.ZooVisitFacet, MikeRobbins.SUGCON.Beacons.Website.xDBWebApi" />
      </elements>

      <entities>
        <contact>
          <facets>
            <facet name="ZooVisit" contract="MikeRobbins.SUGCON.Beacons.Website.xDBWebApi.Xdb.Facets.IZooVisitFacet, MikeRobbins.SUGCON.Beacons.Website.xDBWebApi" />
          </facets>
        </contact>
      </entities>
    </model>
  </sitecore>
</configuration>