<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>


    <pipelines>
      <group groupName="ExperienceProfileContactDataSourceQueries">
        <pipelines>
          <visitedanimals-query>
            <processor type="MikeRobbins.SUGCON.Beacons.Website.Cms.GetVisitedAnimalData, MikeRobbins.SUGCON.Beacons.Website.Cms" />
          </visitedanimals-query>
        </pipelines>
      </group>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <visitedanimals>
            <processor type="MikeRobbins.SUGCON.Beacons.Website.Cms.ConstructVisitedAnimalsDataTable, MikeRobbins.SUGCON.Beacons.Website.Cms" />
            <processor type="Sitecore.Cintel.Reporting.Processors.ExecuteReportingServerDatasourceQuery, Sitecore.Cintel">
              <param desc="queryName">visitedanimals-query</param>
            </processor>
            <processor type="MikeRobbins.SUGCON.Beacons.Website.Cms.PopulateWithVisitedAnimalsData, MikeRobbins.SUGCON.Beacons.Website.Cms" />
          </visitedanimals>
        </pipelines>
      </group>
    </pipelines>



    <model>
      <elements>
        <element interface="MikeRobbins.SUGCON.Beacons.Website.Xdb.Elements.IVisitedAnimalElement, MikeRobbins.SUGCON.Beacons.Website" implementation="MikeRobbins.SUGCON.Beacons.Website.Xdb.Elements.VisitedAnimalElement, MikeRobbins.SUGCON.Beacons.Website" />
        <element interface="MikeRobbins.SUGCON.Beacons.Website.Xdb.Facets.IVisitedAnimalsFacet, MikeRobbins.SUGCON.Beacons.Website" implementation="MikeRobbins.SUGCON.Beacons.Website.Xdb.Facets.VisitedAnimalsFacet, MikeRobbins.SUGCON.Beacons.Website" />
      </elements>

      <entities>
        <contact>
          <facets>
            <facet name="VisitedAnimals" contract="MikeRobbins.SUGCON.Beacons.Website.Xdb.Facets.IVisitedAnimalsFacet, MikeRobbins.SUGCON.Beacons.Website" />
          </facets>
        </contact>
      </entities>
    </model>
  </sitecore>
</configuration>