@using Sitecore.Data.Items
@model Sitecore.Collections.ChildList

@foreach (Item child in Model)
{
    <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="work.html">
            @Html.Sitecore().Field("Image", child, new {@class = "img-responsive" })
        </a>
    </div>
}